### Q1) Write a function to multiply all the numbers in a list.

In [8]:
## Your code here

def multiply(numbers):
  total = 1
  for x in numbers:
    total *= x
  return total
  
print(multiply((7,9,8)))

504

### Q2) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [9]:
## Your code here

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(8))

Input a number to compute the factiorial : 8
40320

### Q3) Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

In [14]:
## Your code here

def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('I am interning at Analytics Vidhya')

Original String :  I am interning at Analytics Vidhya
No. of Upper case characters :  3
No. of Lower case Characters :  26

### Q4) Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [15]:
## Your code here

def unique_list(l):
    x = []
    for a in l:
        if a not in x:
            x.append(a)
    return x 

print(unique_list([2,2,4,5,6,6,6,8,8,8]))

[2, 4, 5, 6, 8]

### Q5) Write a Python program to print the even numbers from a given list.

In [16]:
## Your code here

def is_even_num(l):
    enum = []
    for n in l:
        if n % 2 == 0:
            enum.append(n)
    return enum
print(is_even_num([1,2,3,4,5,6,7,8,9,0]))

[2, 4, 6, 8, 0]

### Q6) Write a function to remove all duplicates from a given string.

In [17]:
## Your code here

def removeDuplicate(str):
    s=set(str)
    s="".join(s)
    print("Without Order:",s)
    t=""
    for i in str:
        if(i in t):
            pass
        else:
            t=t+i
        print("With Order:",t)
      
str="Analytics Vidhya is the best"
removeDuplicate(str)

Without Order: Adahy etilcbVns
With Order: A
With Order: An
With Order: Ana
With Order: Anal
With Order: Analy
With Order: Analyt
With Order: Analyti
With Order: Analytic
With Order: Analytics
With Order: Analytics
With Order: Analytics V
With Order: Analytics V
With Order: Analytics Vd
With Order: Analytics Vdh
With Order: Analytics Vdh
With Order: Analytics Vdh
With Order: Analytics Vdh
With Order: Analytics Vdh
With Order: Analytics Vdh
With Order: Analytics Vdh
With Order: Analytics Vdh
With Order: Analytics Vdh
With Order: Analytics Vdhe
With Order: Analytics Vdhe
With Order: Analytics Vdheb
With Order: Analytics Vdheb
With Order: Analytics Vdheb
With Order: Analytics Vdheb